.login-page{
    background-image: url("/img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.tombol{
    padding-top: 10px;
}
.cetak{

}
th{
    text-align: center;
}
